name: ci
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: checkout
        uses: actions/checkout@v5

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.tmp
            .tmp
          key: ${{ runner.os }}-connect-playwright-es-ci-${{ hashFiles('turbo.json') }}
          restore-keys: |
            ${{ runner.os }}-connect-playwright-es-ci-

      - name: Install dependencies
        run: npm ci

      - name: Run CI
        run: npm run all

      - name: Check Diff
        id: checkdiff
        run: |
          [[ -z $(git status --porcelain | tee /dev/stderr) ]] || exit 1

